{
    frankenphp
    # Strictly disable all internal Caddy redirect logic
    auto_https off
}

# Listen on HTTP only internally
http://:{$PORT} {
    bind 0.0.0.0
    root * /app/web
    php_server
    file_server
}